@font-face {
  src: url(./src/fonts/Heebo-Light.ttf);
  font-family: "heebo";
  font-weight: 300;
}
@font-face {
  src: url(./src/fonts/Heebo-Medium.ttf);
  font-family: "heebo";
  font-weight: 400;
}
@font-face {
  src: url(./src/fonts/Heebo-Regular.ttf);
  font-family: "heebo";
  font-weight: 500;
}
